# Python
*.pyc
__pycache__/
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Database
db.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
*.log
staticfiles/
media/

# Coverage
htmlcov/
.coverage
